[client]
port                                = 3306
socket                              = /var/lib/mysql/mysql.sock

[mysqld]
bind_address                        = 0.0.0.0
datadir                             = /var/lib/mysql
extra_max_connections               = 1
extra_port                          = 3307
innodb_buffer_pool_instances        = 8
innodb_buffer_pool_size             = 16487M
innodb_concurrency_tickets          = 5000
innodb_file_format                  = barracuda
innodb_file_per_table               = 1
innodb_flush_log_at_trx_commit      = 0
innodb_flush_method                 = O_DIRECT
innodb_flush_neighbors              = 0
innodb_ft_min_token_size            = 3
innodb_io_capacity                  = 750
innodb_large_prefix                 = 1
innodb_lock_wait_timeout            = 50
innodb_log_buffer_size              = 274M
innodb_log_file_size                = 1648M
innodb_stats_on_metadata            = OFF
key_buffer_size                     = 16M
lock_wait_timeout                   = 120
log_error                           = /var/log/mysql.log
lower_case_table_names              = 0
max_allowed_packet                  = 1024M
max_connect_errors                  = 1024
max_connections                     = 512
max_heap_table_size                 = 512M
max_sort_length                     = 1024
myisam_recover_options              = BACKUP,FORCE
myisam_sort_buffer_size             = 8M
open_files_limit                    = 16384
performance_schema                  = OFF
pid_file                            = /var/lib/mysql/mysql.pid
port                                = 3306
query_cache_limit                   = 1M
query_cache_size                    = 128M
read_buffer_size                    = 1M
read_rnd_buffer_size                = 1M
skip-name-resolve                   = 1
socket                              = /var/lib/mysql/mysql.sock
sort_buffer_size                    = 1M
sql_mode                            = NO_ENGINE_SUBSTITUTION
table_definition_cache              = 2048
table_open_cache                    = 256
thread_cache_size                   = 75
tmp_table_size                      = 512M
tmpdir                              = /dev/shm
wait_timeout                        = 18000

[mysqldump]
max_allowed_packet                  = 1024M
quick

[mysqld_safe]
bind_address                        = 0.0.0.0
max_allowed_packet                  = 1024M
port                                = 3306
socket                              = /var/lib/mysql/mysql.sock

